.App {
  text-align: center;
}

.a-container{
  height: 500px;
  width: 400px;
  border: 2px solid #ff0000;
  display: inline-block;
  margin: 20px;
  float: left;
}
.a-container .header{
  height: 50px;
  line-height: 50px;
  background: #f10000;
  text-align: left;
  padding: 0 20px;
  color: #fff;
}
.a-container .header div:nth-child(1){
  float: left;
}
.a-container .header div:nth-child(2){
  float: right;
}
